<table>
    <thead>
        <tr scope="col">ID</tr>
        <tr scope="col">Nome</tr>
        <tr scope="col">Email</tr>
        <tr scope="col">Celular</tr>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
        </tr>
    <tr>
        <td>2</td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
        </tr>
    <tr>
        <td>3</td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
        </tr>
    </tbody>
    
</table>