<!-- <table>
    <thead>
        <tr scope="col">ID</tr>
        <tr scope="col">Nome</tr>
        <tr scope="col">Email</tr>
        <tr scope="col">Celular</tr>
        </tr>
    </thead>
    <tbody>
    <tr> -->
        
    <% for( let i = 1; i < 11; i++ ) { %>  
        <% if (index % 3 == 0) { %>
    <tr>
        <td><p><%=i%></p></td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
    </tr>
        <% } %>
        <% } %>
        </tbody>
        </table>
    
        <!-- <td>2</td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
        </tr>
    <tr>
        <td>3</td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
        </tr>
    </tbody>
    
</table>  -->