<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/menu'); %>
    </header>

    <main class="container"> 
        <div class="texto3">
            <h1>Usuário não cadastrado, cadastra-se!</h1>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>